:root{
--background-clr: rgb(31, 31, 31);
--card-body-clr:black;
--card-text-clr:aliceblue;
--image-width: 40vw;
--form-width: 100%;
}
body{
    background-color: var(--background-clr);
    margin: 0;
}
#containerAll{
    display: flex;
    flex-direction: row;
}
#leftContainer{
    display: flex;
}
.card-image{
    position: relative;
    width: var(--image-width);
    height: max(100vh, 850px);
    object-fit: cover;
    object-position: center top;
    z-index: -1;
}
.card-body{
    position: absolute;
    width: var(--image-width);
    background: var(--card-body-clr);
    opacity: 0.6;
    color:var(--card-text-clr);
    top: 30vh;
    text-align: center;
    font-size: 1.5em;
    overflow: hidden;
}
.card-heading{
}
#rightContainer{
    display: flex;
    flex-direction: column; 
    margin: 50px;
}
